@import url(spider.css);
@import url(jquery.fancybox.min.css);
@import url(alertify.css);
@import url(ion.rangeSlider.css);
@import url(ion.rangeSlider.skinNice.css);
@import url(swiper.min.css);
@import url(magnific-popup.css);
/* line 1, custom.scss */
.product-value {
    font-size: 16px; }

/* line 4, custom.scss */
.value-container {
    margin-top: 15px;
    display: flex; }

/* line 8, custom.scss */
.value-item {
    border: 1px solid #34bf2e;
    border-radius: 5px; }
/* line 11, custom.scss */
.value-item:not(.value-item:last-child) {
    margin-right: 15px; }
/* line 14, custom.scss */
.value-item .value-name, .value-item .value-number {
    padding: 5px 10px;
    text-align: center; }
/* line 18, custom.scss */
.value-item .value-number {
    background-color: #34bf2e;
    color: #fff;
    font-weight: 700; }